*,
::before,
::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  @apply bg-cn-200 text-cn-700 font-flex;
  font-size: 100%;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

html,
body {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

article,
section {
  hyphens: manual;
  letter-spacing: 0em;
  overflow-wrap: break-word;
  text-align: left;
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  appearance: button;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

[hidden] {
  display: none;
}

/** @tailwind base; **/
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
